[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test = "python test_multiplicar.py"
play = "streamlit run --server.enableCORS false app.py"
